<!DOCTYPE html>
<html>
  <head>
    <title>StimulusDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash-messages">
      <% if flash.any? %>
        <%= render partial: 'shared/flash_messages', local: { flash: flash } %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
